<!DOCTYPE html>
<html>
<body>

<p><a href="https://discord.com/oauth2/authorize?client_id=743132258537439313&permissions=8&scope=bot" style="font-size:18px;color:blue;text-shadow:4px 4px 8px #000;">X-Gama invite link!</a> : Link to invite.</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p style="text-indent:18px;width:200px;">==============================================================</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p><a href="https://github.com/ZeroThink-01/X-Gama" style="font-size:18px;color:green;text-shadow:4px 4px 8px #000;">X-Gama Github!</a> : Github Link.</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p style="text-indent:18px;width:200px;">==============================================================</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p><a href="https://github.com/ZeroThink-01/Xgama-Web" style="font-size:30px;color:green;text-shadow:4px 4px 8px #000;">X-Gama-Web</a></p>
<p>&nbsp;</p>

</body>
</html>