<!DOCTYPE html>
<html>
<head>
<script src="https://cdn.jsdelivr.net/npm/@widgetbot/crate@3" async defer>
  new Crate({
    server: '767995081486630913', // X-GAMA | Support
    channel: '767998585051807754' // #commands
  })
</script>
<title>XGama-Web</title>
</head>
<body>
<body style="background-color:grey;">
<img src="https://github.com/ZeroThink-01/X-Gama/raw/master/Xgama.png?raw=true" width="225" height="151" alt="Xgama logo" />
<p>&nbsp;</p>
<p style="text-transform:capitalize;">Welcome to X-Gama Website!</p>
<p>&nbsp;</p>
<p style="font-size:18px;color:orange;text-shadow:4px 4px 8px #666;">X-Gama</p>
<p style="font-size:18px;color:orange;text-shadow:4px 4px 8px #000;">X-GamaTR</p>
<p>&nbsp;</p>
<p>X-Gama | Support :</p>
<p>https://discord.com/invite/9nqSejU</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p style="text-indent:18px;width:200px;">----------------------------------</p>
<p>&nbsp;</p>
<p style="text-indent:18px;width:200px;">Some pages in site:</p>
<p><a href="https://xgama.herokuapp.com/invitesrc" style="font-size:18px;color:brown;"> /invitesrc</a> : invite and source code!</p>
<p><a href="https://xgama.herokuapp.com/license" style="font-size:18px;color:brown;"> /license</a> : license!</p>
<p><a href="https://xgama.herokuapp.com/versions" style="font-size:18px;color:brown;"> /versions</a> : See what can X-Gama do!</p>
<p><a href="https://xgama.herokuapp.com/contact" style="font-size:18px;color:brown;"> /contact</a> : Contact Us!</p>
<p><a href="https://xgama.herokuapp.com/mostused" style="font-size:18px;color:brown;"> /mostused</a> : See which languages we used for creating XGAMA Website!</p>
<p><a href="https://xgama.herokuapp.com/login" style="font-size:18px;color:brown;"> /login</a> : BETA log-in Part.</p>
<p><a href="https://xgama.herokuapp.com/login2" style="font-size:18px;color:brown;"> /login2</a> : BETA Discord Login Part.</p>
<p><a href="https://xgama.herokuapp.com/lists" style="font-size:18px;color:brown;"> /lists</a> : Which lists is X-Gama on?</p>



</body>
</html>